@{
    ViewBag.Title = "ClientReg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ng/ngApp/ngApp.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ng/ngControllers/ngNewClientController.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ng/ngService/ngCrudService.js")" type="text/javascript"></script>

<h2>ClientReg</h2>
<div class="main-body" ng-app="myapp" ng-controller="newClientController">
    <div class="page-wrapper" style="padding:0rem">
        <div class="page-header">
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5>Client Registration</h5>
            @*<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>*@
            <div class="card-header-right">
                <i class="icofont icofont-rounded-down"></i>
                <i class="icofont icofont-refresh"></i>
                <i class="icofont icofont-close-circled"></i>
            </div>
        </div>
        <div class="card-block">
            @*<form id="main" method="post" action="/" novalidate>*@

                <div class="form-group row">
                    @*<div class="col-sm-2 col-form-label">
                            <label>Title</label>
                        </div>*@
                    <div class="col-sm-1">
                        @*<input type="text" class="form-control" name="Title" id="Title" placeholder="Title">*@
                        <select id="ddlTitle" class="form-control" ng-model="Title">
                            <option value="" selected >Title</option>
                            <option value="1">Mr</option>
                            <option value="2">Ms</option>
                            <option value="3">Mrs</option>
                        </select>
                        <span class="messages"></span>
                    </div>
                    @*<div class="col-sm-2 col-form-label">
                            <label>Password</label>
                        </div>*@
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtFirstName" name="FirstName" placeholder="First Name" ng-model="FirstName">
                        <span class="messages"></span>
                    </div>
                    @*<div class="col-sm-2 col-form-label">
                            <label>Repeat Password</label>
                        </div>*@
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtLastName" name="LastName" placeholder="Last Name" ng-model="LastName">
                        <span class="messages"></span>
                    </div>

                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtSAId" name="SAId" placeholder="SA Id" maxlength="15" ng-model="SAId">
                        <span class="messages"></span>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtMobile" name="Mobile" placeholder="Mobile Number" ng-model="Mobile">
                        <span class="messages"></span>
                    </div>
                    <div class="col-sm-2">
                        <input type="email" class="form-control" id="txtEmailId" name="EmailId" placeholder="Email Id" ng-model="EmailId">
                        <span class="messages"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="txtCompany" name="Company" placeholder="Company/Trust" ng-model="Company">
                        <span class="messages"></span>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="txtCompanyRegNo" name="CompanyRegNo" placeholder="Company Registration Number" ng-model="CompanyRegNo">
                        <span class="messages"></span>
                    </div>
                    <div class="col-sm-2">
                        <select ng-model="ActiveStatus" class="form-control" id="ActiveStatus">
                            <option value="" selected>Choose Client Status</option>
                            <option ng-repeat="ActiveStatus in ActiveStatues"
                                    value="{{ActiveStatus.StatusID}}">
                                {{ActiveStatus.Status}}
                            </option>
                        </select>
                        <span class="messages"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary m-b-0" ng-click="Save()">Submit</button>
                    </div>
                </div>
            @*</form>*@
        </div>
    </div>
</div>
