<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Nyasa - Responsive admin template..</title>
    <link rel="shortcut icon" href="~/img/favicon.ico">    
    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Roboto Slab Font [ OPTIONAL ] -->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,400" rel="stylesheet">
    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!--Jasmine Stylesheet [ REQUIRED ]-->
    <link href="~/css/style.css" rel="stylesheet">
    <!--Font Awesome [ OPTIONAL ]-->
    <link href="~/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--Switchery [ OPTIONAL ]-->
    <link href="~/plugins/switchery/switchery.min.css" rel="stylesheet">
    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="~/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <!--Demo [ DEMONSTRATION ]-->
    <link href="~/css/demo/jasmine.css" rel="stylesheet">
    <!--SCRIPT-->
    <!--=================================================-->
    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link href="~/plugins/pace/pace.min.css" rel="stylesheet">
    <script src="~/plugins/pace/pace.min.js"></script>
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
    <script type="text/javascript" src="ng/ngScript.js"></script>*@
</head>
<body ng-controller="mycontroller">
    <div id="container" class="effect mainnav-full">
        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">
                <!--Brand logo & name-->
                <!--================================-->
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">
                        <i class="fa fa-cube brand-icon"></i>
                        <div class="brand-title">
                            <span class="brand-text">CRM</span>
                        </div>
                    </a>
                </div>
                <!--================================-->
                <!--End brand logo & name-->
                <!--Navbar Dropdown-->
                <!--================================-->
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-left">
                        <!--Messages Dropdown-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End message dropdown-->
                        <!--Notification dropdown-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                      
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End notifications dropdown-->
                    </ul>
                    <ul class="nav navbar-top-links pull-right">
                        <!--Profile toogle button-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                       
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End Profile toogle button-->
                        <!--User dropdown-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li id="dropdown-user" class="dropdown">
                            <a href="index.html#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="pull-right"> <img class="img-circle img-user media-object" src="~/img/av1.png" alt="Profile Picture"> </span>
                                <div class="username hidden-xs">John Doe</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right with-arrow">
                                <!-- User dropdown menu -->
                                <ul class="head-list">
                                    <li>
                                        <a href="index.html#"> <i class="fa fa-user fa-fw"></i> Profile </a>
                                    </li>
                                 
                                    <li>
                                        <a href="index.html#">  <i class="fa fa-gear fa-fw"></i> Settings </a>
                                    </li>
                                    <li>
                                        <a href="index.html#"> <i class="fa fa-sign-out fa-fw"></i> Logout </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End user dropdown-->
                        <!--Navigation toogle button-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                      
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End Navigation toogle button-->
                    </ul>
                </div>
                <!--================================-->
                <!--End Navbar Dropdown-->
                <nav class="navbar navbar-default megamenu">
                    <div class="navbar-header">
                        <button type="button" data-toggle="collapse" data-target="#defaultmenu" class="navbar-toggle">
                            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- end navbar-header -->
                    <div id="defaultmenu" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <!-- standard drop down -->
                            <li class="dropdown">
                                <a href="index.html#"> Dashboard</a>
                                @*<ul class="dropdown-menu" role="menu">
                                    <li><a href="#/dashboard">Dashboard V1 </a></li>
                                    <li><a href="dashboard-v2.html">Dashboard V2 </a></li>
                                </ul>*@
                                <!-- end dropdown-menu -->
                            </li>
                            <!-- end standard drop down -->
                            <!-- standard drop down -->
                            <li class="dropdown">
                                <a href="index.html#" data-toggle="dropdown" class="dropdown-toggle"> User Management <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="ui-animation.html"> List All Users </a></li>
                                    <li><a href="ui-panel.html">Manage Users </a></li>
                                    <li><a href="ui-xeditable.html"> Activate User </a></li>                                    
                                </ul>
                                <!-- end dropdown-menu -->
                            </li>
                            <!-- end standard drop down -->
                            <!-- standard drop down -->
                            <li class="dropdown">
                                <a href="index.html#" data-toggle="dropdown" class="dropdown-toggle"> Clients <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="dropdown-submenu">
                                        <a href="pages-faq.html"> List of Clients </a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu">
                                                <a href="index.html#">By Location</a>                                                
                                            </li>
                                            <!-- end dropdown-submenu -->                                            
                                        </ul>

                                    </li>
                                   
                                </ul>
                                <!-- end dropdown-menu -->
                            </li>     
                        </ul>
                        <!-- end nav navbar-nav -->
                    </div>
                    <!-- end #navbar-collapse-1 -->
                </nav>
                <!-- end navbar navbar-default megamenu -->
            </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->
        <div>
            @RenderBody()
        </div>
        <!-- FOOTER -->
        <!--===================================================-->
        @*<footer id="footer">
            <!-- Visible when footer positions are fixed -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="show-fixed pull-right">
                <ul class="footer-list list-inline">
                    <li>
                        <p class="text-sm">SEO Proggres</p>
                        <div class="progress progress-sm progress-light-base">
                            <div style="width: 80%" class="progress-bar progress-bar-danger"></div>
                        </div>
                    </li>
                    <li>
                        <p class="text-sm">Online Tutorial</p>
                        <div class="progress progress-sm progress-light-base">
                            <div style="width: 80%" class="progress-bar progress-bar-primary"></div>
                        </div>
                    </li>
                    <li>
                        <button class="btn btn-sm btn-dark btn-active-success">Checkout</button>
                    </li>
                </ul>
            </div>
            <!-- Visible when footer positions are static -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="hide-fixed pull-right pad-rgt">Currently v2.2</div>
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Remove the class name "show-fixed" and "hide-fixed" to make the content always appears. -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <p class="pad-lft">&#0169; 2015 Your Company</p>
        </footer>*@
        <!--===================================================-->
        <!-- END FOOTER -->
        <!-- SCROLL TOP BUTTON -->
        <!--===================================================-->
        <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
        <!--===================================================-->
    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!--jQuery [ REQUIRED ]-->
    <script src="~/js/jquery-2.1.1.min.js"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="~/js/bootstrap.min.js"></script>
    <!--Fast Click [ OPTIONAL ]-->
    <script src="~/plugins/fast-click/fastclick.min.js"></script>
    <!--Jquery Nano Scroller js [ REQUIRED ]-->
    <script src="~/plugins/nanoscrollerjs/jquery.nanoscroller.min.js"></script>
    <!--Metismenu js [ REQUIRED ]-->
    <script src="~/plugins/metismenu/metismenu.min.js"></script>
    <!--Jasmine Admin [ RECOMMENDED ]-->
    <script src="~/js/scripts.js"></script>
    <!--Switchery [ OPTIONAL ]-->
    <script src="~/plugins/switchery/switchery.min.js"></script>
    <!--Jquery Steps [ OPTIONAL ]-->
    <script src="~/plugins/parsley/parsley.min.js"></script>
    <!--Jquery Steps [ OPTIONAL ]-->
    <script src="~/plugins/jquery-steps/jquery-steps.min.js"></script>
    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="~/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <!--Bootstrap Wizard [ OPTIONAL ]-->
    <script src="~/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <!--Masked Input [ OPTIONAL ]-->
    <script src="~/plugins/masked-input/bootstrap-inputmask.min.js"></script>
    <!--Bootstrap Validator [ OPTIONAL ]-->
    <script src="~/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <!--Flot Chart [ OPTIONAL ]-->
    <script src="~/plugins/flot-charts/jquery.flot.min.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.resize.min.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.spline.js"></script>
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/moment-range/moment-range.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.tooltip.min.js"></script>
    <!--Flot Order Bars Chart [ OPTIONAL ]-->
    <script src="~/plugins/flot-charts/jquery.flot.categories.js"></script>
    <!--Morris.js [ OPTIONAL ]-->
    <script src="~/plugins/morris-js/morris.min.js"></script>
    <script src="~/plugins/morris-js/raphael-js/raphael.min.js"></script>
    <!--Easy Pie Chart [ OPTIONAL ]-->
    <script src="~/plugins/easy-pie-chart/jquery.easypiechart.min.js"></script>
    <!--Fullscreen jQuery [ OPTIONAL ]-->
    <script src="~/plugins/screenfull/screenfull.js"></script>
    <!--Form Wizard [ SAMPLE ]-->
    <script src="~/js/demo/index.js"></script>
    <!--Form Wizard [ SAMPLE ]-->
    <script src="~/js/demo/wizard.js"></script>
    <!--Form Wizard [ SAMPLE ]-->
    <script src="~/js/demo/form-wizard.js"></script>
    <script src="~/js/demo/form-validation.js"></script>
</body>
</html>
