@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<script src="@Url.Content("~/Scripts/angular.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ng/ngApp/ngApp.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ng/ngService/ngCrudService.js")" type="text/javascript"></script>
<script src="@Url.Content("~/ng/ngControllers/ngNewUserController.js")" type="text/javascript"></script>


<div class="container" ng-controller="newUserController">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <h4 class="page-title">New User</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-box">
            @*<div class="col-sm-12">
                    <h4 class="m-t-0 header-title"><b>New User</b></h4>
                </div>*@

            <div class="row  form-group ">
                <div class="col-sm-12">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" id="lblUserFirstName">First Name</label>
                            <div class="col-sm-6">
                                <input type="text" id="txtUserFirstName" name="txtUserFirstName" class="form-control input-sm" placeholder="Enter First Name" ng-model="firstname">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" id="lblUserLastName">Last Name</label>
                            <div class="col-sm-6">
                                <input type="text" id="txtUserLastNam form-groupe" name="txtUserLastName" class="form-control input-sm" placeholder="Enter Last Name" ng-model="lastname">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" id="lblUserEmail">Email Id</label>
                            <div class="col-sm-6">
                                <input type="text" id="txtUserEmail" name="txtUserEmail" class="form-control input-sm" placeholder="Enter Email" ng-model="email">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row form-group ">
                <div class="col-sm-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" id="lblUserPhone">Phone</label>
                            <div class="col-sm-6">
                                <input type="text" id="txtUserPhone" name="txtUserPhone" class="form-control input-sm" placeholder="Enter Last Name" ng-model="phone">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" id="lblUserAddress">Address</label>
                            <div class="col-sm-6">
                                <textarea id="txtUserAddress" name="txtUserAddress" class="form-control input-sm" placeholder="Enter address" ng-model="address"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group ">
                <div class="col-sm-12">

                    <div class="col-md-6">
                        <div class="form-group">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group ">
                <div class="col-sm-12">

                    <div class="form-group">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <div class="col-sm-2">
                                <input type="submit" class="btn btn-primary form-control" value="save" id="btnUserSave" ng-click="Save()">
                            </div>

                            <div class="col-sm-2">
                                <input type="button" class="btn btn-danger form-control" value="Cancel" id="btnUserCancel">
                            </div>

                            <div class="col-sm-2">
                                <input type="reset" class="btn btn-warning form-control " value=" reset" id="btnUserReset">
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
